/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  FINE RESET  */

/* BODY E CONTAINER*/
body{
    font-family: 'Nerko One', cursive;
    background-color: #add8e6;
}

.container {
    width: 65%;
    margin: 20px auto;
}
/* FINE BODY E CONTAINER*/

/* HEADER */
header h1{
    text-align: center;
    color: white;
    font-size: 55px;
    text-shadow: 2px 2px #554c4c;
}
/* FINE HEADER */

/* CARDS BOX */
.cards{
    margin: 10px 0;
}
/* FINE CARDS BOX */

/* ROW */
.row {
    text-align: center;
    padding: 5px;
}
/* FINE ROW */

/* SINGOLE CARD */
.card {
    width: 20%;
    display: inline-block;
    margin: 0 10px;
    padding: 15px;
    background-image: url(../img/pattern.png);
    background-size: contain;   
    position: relative; 
    border-radius: 10px;
    border: 2px solid #4b9db8;
}

.card img{
    width: 100%;
    visibility: hidden;
    margin-bottom:25px;
}

.card:hover img, .card.active img, .card.active .caption {
    visibility: visible;
}

.card:hover, .active{
    background-image: none;
    background-color: #fff;
}

.card .caption {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    font-size: 25px;
    visibility:hidden;
    color: #e61986;
}

.card:hover .caption {
    visibility: visible;
    color: #e78025;
}
/* FINE SINGOLE CARD */

/* FOOTER */
footer{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
/* FINE FOOTER */


